
#piano-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--thirty-color);
}

#piano {
    position: absolute;
    bottom: 0;

    user-select: none;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;    

    height: 100%;
    width: 100%;
} 

    #piano > div {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
    }


#piano-buttons {
    width: 100px;
    height: 50px;
}

    #recording-button {
        background-color: gray;
        border: none;
        border-radius: 30px;

        height: 30px;
        width: 30px;
    }

        #recording-button:hover {
            background-color: var(--ten-color);
        }


#first-level {
    bottom: var(--white-key-height);
    z-index: 1;
}