:root {
    --black-key-wrap-width: 5%;
    --white-key-wrap-width: 10%;

    --black-key-height: 15%;
    --white-key-height: 25%;
}

.piano-key-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.vis-path {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--white-key-height));
}

.white-key {
    position: absolute;
    bottom: 0;
    height: var(--white-key-height);
    border: 1px black solid;
    text-align: center;
    width: 100%;
    background-color:white;
    z-index: 1;
    padding: 5px 0;
}

.black-key {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    height: var(--black-key-height);
    width: 100%;
    bottom: calc(var(--white-key-height) - var(--black-key-height));
    z-index: 2;
}

.white-wrapper {
    width: var(--white-key-wrap-width);
    height: 100%;
}

.black-wrapper {
    width: var(--black-key-wrap-width);
    height: 100%;
    margin-left: calc(var(--black-key-wrap-width) / -2.75);
    margin-right: calc(var(--black-key-wrap-width) / -2.75);
}

.pressed {
    background-color: var(--ten-color);
}


.visualizer-instance {
    background-color: var(--ten-color);
    position: absolute;
    width: 100%;
    border-radius: 15px;

}


@keyframes flicker {
    0% {
        align-self: center;
        transform: scale(2);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(2);
    }
  }

.glow-effect-small {
    position: absolute;
    bottom: calc(var(--white-key-height) - 20px);
    width: 45px;
    height: 45px;

    border-radius: 1000px;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 70%
      );
    animation: flicker .15s infinite;
    z-index: 3;
    opacity: .8;
  }

  .glow-effect-big {
    position: absolute;
    bottom: calc(var(--white-key-height) - 40px);
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;

    border-radius: 1000px;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 70%
      );
    animation: flicker .2s infinite;
    z-index: 3;
    opacity: .6;
  }
  
