:root {
    --black-key-width: 50px;
    --white-key-width: 90px;
}


#piano-wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
}

#piano {
    user-select: none;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;    

    height: 300px;
    width: 100vw;
} 

    #piano > div {
        display: flex;
        height: 100px;
        width: 100%;
        justify-content: center;
    }



.white {
    width: var(--white-key-width);
    height: 100%;
    border: 1px black solid;
    text-align: center;
}

.black {
    width: var(--black-key-width);
    height: 50%;
    background-color: black;
    margin-left: calc(var(--black-key-width) / -2);
    margin-right: calc(var(--black-key-width) / -2);
    color: white;

    z-index: 1;
}

#piano-buttons {
    width: 100px;
    height: 50px;
}

    #recording-button {
        background-color: gray;
        border: none;
        border-radius: 30px;

        height: 30px;
        width: 30px;
    }

        #recording-button:hover {
            background-color: var(--ten-color);
        }