.drop-box {
    width: 400px;
    height: 400px;
    border: 1px dashed black;
}

.file-preview {
    position: relative;
}

.file-preview > button {
    position: absolute;
    right: 0;
    z-index: 1;
}