.dropbox {
    width: 100%;
    min-height: 400px;
    border: 1px dashed var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 5px;
}

