.file-viewer {
    position: relative; 
    border-radius: 5px;
}

.file-viewer img {
    max-width: 100%;
    max-height: 100%;
    width: auto; 
    height: auto;
    border-radius: 5px;
}

.file-viewer video {
    width: 100%;
    height: 100%;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    background-color: transparent;
    color: var(--text-color);

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .25s;
    /* background: radial-gradient(circle, color-mix(in srgb, white, var(--ten-color)) 0%, transparent 85%); */
}

.scroll-button:hover {
    color: var(--ten-color);
}

.file-viewer svg {

    transform: scale(3);

}
    

#prev-img-btn {
    left: 10px;
}

#next-img-btn {
    right: 10px;
}