:root {
    --navbar-height: 75px;
    --min-width: 900px;
    --background-color: transparent;
    --ten-color: orange;
    --thirty-color: #2e2e2e;
    --text-color: #dddddd;
}

* {
    color: var(--text-color);
}

a:hover {
    color: var(--ten-color);
}

#navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--navbar-height));
    display: flex;
    flex-direction: row;

    
    min-width: var(--min-width);
    z-index: 5;
    background-color: transparent;
}

    .navbar-link {
        margin: 15px;
        text-decoration: none;
        font-weight: bold;
        color: var(--text-color);
        transition: color ease .25s;
    }

    .navbar-btn {
        border: none;
        outline: none;
        background-color: transparent;

        transform: scale(2.5);
        margin: 15px;
        margin-left: auto;
        margin-right: 30px;
        padding: 0;
        color: var(--text-color);
        transition: color .25s ease;
    }


    .navbar-btn:hover {
        color: var(--ten-color);
    }

    #navbar-links {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: all 10s ease;
        display: flex;
        align-items: center;
        background-color: salmon;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
    }