.singlepost-body {
    position: absolute;
    top: calc(var(--navbar-height));
    left: 0;
    
}

.singlepost-wrapper {
    /* position: absolute;
    top: calc(var(--navbar-height) + 10px);
    left: 0; */
    
    height: calc(100vh - var(--navbar-height));
    width: 100vw;

    overflow-x: hidden;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    min-width: var(--min-width);
}

h3 {
    margin: 0;
}
    .singlepost-post-wrapper {
        position: relative;
        border: 1px solid black;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }

        /* .singlepost-post img {
        } */

    .singlepost-comments-wrapper {
        width: 50%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .comment:not(:first-child) {
        margin-left: 30px;
    }