#createpost-body {
    background-color: var(--background-color);
    height: calc(100vh - var(--navbar-height));
    width: 100vw;

    position: absolute;
    top: calc(var(--navbar-height));
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--thirty-color);
    color: white; */
}

#createpost-form {
    display: flex;
    flex-direction: column;

    border: solid 2px black;
    border-radius: 15px;
    padding: 40px;

    /* height: 800px;
    width: 500px; */
}

    .createpost-input {
        margin: 10px;
    }
