:root {
    --navbar-height: 75px;
    --min-width: 900px;
    --background-color: transparent;
    --ten-color: orange;
    --thirty-color: #222222;
    --text-color: #dddddd;
}

a:hover {
    color: var(--ten-color);
}

#navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--navbar-height));
    display: flex;
    flex-direction: row;

    
    min-width: var(--min-width);
    z-index: 5;
    background-color: transparent;
}

    .navbar-link {
        margin: 15px;
        text-decoration: none;
        font-weight: bold;
        color: var(--text-color);
        transition: color ease .25s;
        width: 100px;
        height: 75px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-btn {
        border: none;
        outline: none;
        background-color: transparent;

        transform: scale(2.5);
        margin: 15px;
        margin-left: 50px;
        margin-right: 30px;
        padding: 0;
        color: var(--text-color);
        transition: color .25s ease;
    }


    .navbar-btn:hover {
        color: var(--ten-color);
    }

    #navbar-links {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: all 10s ease;
        display: flex;
        align-items: center;
        background-color: rgb(39, 39, 39);
        box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
    }

    .navbar-account-btn {
        margin-left: auto;
        display: flex;
    }

    .navbar-account-btn img {

        border-radius: 10000px;
        
        -moz-transform-origin: top left;
        -o-transform-origin: top left;
        -webkit-transform-origin: top left;
    }

    .navbar-account-btn p {
        margin: 0;
        margin-right: 14px;

    }

    .navbar-account-btn-inner {
        display: flex;
        align-items: center;
    }

    .site-logo {

        transform: scale(.45);
        overflow: hidden;
    }

.account-profimg {
    height: 50px;
    width: 50px;
}
